<html>

    <head>
        <title>API Documentation</title>

        <style type="text/css">

            body {
                font-family: Helvetica Neue, Helvetica, Arial;
            }

            #mainContainer {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            #routeContainer {
                margin-left: 20px;
            }

        </style>
    </head>

    <body>

    <div id="mainContainer">

        <h1>API Documentation</h1>

        <div id="routeContainer">
            <% routes.forEach(function(route) { %>
                <h3> <%= route.methods.join(', ').toUpperCase() %> - <%= route.path %></h3>
                <% if (route.description) { %>
                    <p><%= route.description %></p>
                <% } %>

                <% if (route.params && route.params.length) { %>
                    <h4>Params:</h4>

                    <% route.params.forEach(function(param) { %>
                        name : <%= param.name %><br/>
                        body : <%= param.body %><br/>
                        <% if (param.type) { %>
                            type : <%= param.type %><br/>
                        <% } %>
                        <% if (param.description) { %>
                            description: <%= param.description %><br/><br/>
                        <% } %>
                    <% }); %>

                <% } %>
            <% }); %>

        </div>


    </div>

    </body>

</html>